<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet"> -->

<script type="module" crossorigin src="/assets/index-DrVtHYR9.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-DdClWr72.css">

<div id = "app"></div>


